body {
  padding-top: 50px;
}

.logo, .panel {
    display: inline-block;
}

.logo {
    background-image: url('images/logoStockMarket.png');
    background-repeat: no-repeat;
    background-size: 175px 48px;
    width: 175px;
    height: 50px;
    margin-left: 20px;
}

.running {
    color: green;
}
.navbar-header {
    background-color: white;
    color: black;
}

.navbar-brand {
    background-color: white;
    float: left;
    padding: 15px 15px;
    font-size: 40px;
    line-height: 20px;
    color: black;
}

.navbar-inverse {
    background-color: white;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: black;
    background-color: transparent;
}


ul.nav a:hover {
    color: black !important;
}