################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/FXMind/v15
/BusinessObjects/obj/Debug/BusinessObjects.csproj.CopyComplete
/BusinessObjects/obj/Debug/BusinessObjects.csprojResolveAssemblyReference.cache
/BusinessObjects/obj/Debug/BusinessObjects.pdb
/BusinessObjects/obj/Debug/BusinessObjects.dll
/FXBusinessLogic/obj/Debug/FXBusinessLogic.csproj.CopyComplete
/FXBusinessLogic/obj/Debug/FXBusinessLogic.pdb
/FXBusinessLogic/obj/Debug/FXBusinessLogic.dll
/MainServer/obj/Debug/FXMind.MainServer.pdb
/MainServer/obj/Debug/FXMind.MainServer.exe
/MainServer/obj/Debug/MainServer.csproj.CopyComplete
/MainServer/obj/Debug/MainServer.csprojResolveAssemblyReference.cache
/packages
/ThriftMQL/obj/Release/ThriftMQL.dll
/WinClient/obj/Debug/FXMind.WinClient.pdb
/WinClient/obj/Debug/FXMind.WinClient.exe
/WinClient/obj/Debug/WinClient.csproj.CopyComplete
/UpgradeLog.htm
/BusinessObjects/obj/Release
/FXBusinessLogic/obj/Release
/MainServer/obj/Release
/WinClient/obj/Release
