################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/FXMind/v15
/packages
/ThriftMQL/obj/
/UpgradeLog.htm
/BusinessObjects/obj
/MainServer/obj
/ThriftMQL/obj
/bin.rar
/MQL.rar
/BusinessObjects/gen-nodejs
/.vs/FXMind/DesignTimeBuild
/MQL5
/.vs
/WebTradeAdmin/bin
/WebTradeAdmin/obj
/FXBusinessLogic/obj/Debug
/MQL/Libraries/ThriftMQL.exp
/MQL/Libraries/ThriftMQL.lib
/FXBusinessLogic/obj/Release
