<connectionStrings>
    <add name="FXMind.ConnectionString" connectionString="XpoProvider=MySql;server=localhost;user id=root; password=everest; database=fx_mind;persist security info=true;CharSet=utf8;" /> 
    <add name="FXMind.MySQLConnection" connectionString="Server=localhost; Database=fx_mind; Uid=root; Pwd=everest" />

</connectionStrings>

