<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net47" />
  <package id="Autofac" version="4.8.1" targetFramework="net47" />
  <package id="FluentMigrator" version="2.0.7" targetFramework="net47" />
  <package id="FluentMigrator.Abstractions" version="2.0.7" targetFramework="net47" />
  <package id="FluentMigrator.NHibernate" version="1.0.0.17" targetFramework="net47" />
  <package id="FluentMigrator.Runner.Core" version="2.0.7" targetFramework="net47" />
  <package id="FluentMigrator.Runner.MySql" version="2.0.7" targetFramework="net47" />
  <package id="FluentMigrator.Tools" version="2.0.7" targetFramework="net47" />
  <package id="FluentNHibernate" version="2.1.2" targetFramework="net47" />
  <package id="FSharp.Core" version="4.5.4" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.8.11" targetFramework="net47" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net47" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net47" />
  <package id="Microsoft.Database.Collections.Generic" version="1.9.4" targetFramework="net47" />
  <package id="Microsoft.Database.Isam" version="1.9.4" targetFramework="net47" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net47" />
  <package id="NHibernate" version="5.2.1" targetFramework="net47" />
  <package id="Quartz" version="3.0.7" targetFramework="net47" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net47" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net47" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net47" />
</packages>